header {
  .logoWrapper {
    // width: 100px;
    height: 70px;
  }

  img {
    // width: 100%;
    height: 100%;
    padding: 10px;
    // margin: 10px;
  }
  .headerWrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
  }
  .drawerWrapper {
    // padding: 10px;
    margin: 10px;
    // margin: 25px;
  }
  .tenant-name {
    text-decoration: none !important;
    font-size: 20px;
  }
}
