/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}
:root{
/* Font Sizes & Family */
/* if we set html's font size 62.5% then 1rem = 10px */

--body-font: 'Poppins', sans-serif;

--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}

.Latest{
  overflow-x: hidden;
  min-height: 412px;
  // background-color: var(--white-color) !important;
}

/* Custom Scrollbar */
::selection{
  background-color: var(--primary-color);
  color: var(--white-color);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f9f1ec;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: var(--primary-color-hover)
}

// body,
// button,
// input{
//   font-family: var(--body-font);
//   font-size: var(--normal-font);
//   font-weight: var(--font-regular);
//   color: var(--text-color);
// }

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
// .Latest img{
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

/* Reusuable CSS */
.section{
  // padding: 0rem 0.6rem;
}
// .container{
//   max-width: 760px;
//   width: 100%;
//   margin: 0 auto;
//   padding: 0 3rem;
//   display: flex;
//   flex-direction: column;
// }
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.button{
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.button:hover{
  background-color: var(--primary-color-hover);
}
.section-subtitle,
.content-subtitle{
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}
.section-title,
.content-title{
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}
.section-description,
.content-description{
  text-align: center;
  margin-bottom: 2rem;
}
.section-description{
  padding: 0 16rem;
}
/* Menu */
.menu{
  // background-color: var(--section-bg);
}
.section-title,
.section-description{
  color: var(--white-color);
}
// .menu .menu-content{
//   display: grid;
//   grid-template-columns: 1.8fr 1fr;
//   column-gap: 6rem;
//   margin-top: 6rem
// }
.menu .menu-content{
  display: grid;
  grid-template-columns:1fr;
  justify-items: center; 
  margin-top: 25px;
 // border-top: 1px solid #eee;
  padding-top: 12px;
  margin-bottom: 15px;
}
.menu-img{
  width: 100%;
  border-radius: 10px;
  max-height: 205px;
  // margin-right: 1.5rem;
}


.menu-items{
  display: grid;
  row-gap: 1.5rem;
  width: 100%;
}

.menu-item{
  position: relative;
  padding: 0px;
  padding-right: 10px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.menuItem-details{
  // margin-right: 1.5rem;
  // flex-grow: 1;
  width:auto
}
.menuItem-topic{
  //font-weight: var(--font-semi-bold);
  font-size: 15px;
  font-weight: 600;
  color:#000;
  text-transform: capitalize;
}
.menuItem-des{
  // font-size: var(--small-font);
  line-height: 12px;
  margin-bottom: 0px;
  word-wrap: break-word;
  font-size: 12px;
}
.menuItem-price{
  flex-direction: column;
  // padding-left: 2rem;
  // border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.discount-price{
  font-size: 1rem;
}
.real-price{
  text-decoration: line-through;
}
.time-topic{
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: var(--font-regular);
  padding: 1.5rem 0;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.time-list{
  padding: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  background-color: var(--white-color);
}
.time-list:nth-child(7){
  border-bottom: none;
}


/* Responive media */
@media screen and (max-width: 1150px) {
  .swiper-button-prev {
    left: 10rem;
}
  .swiper-button-next {
    right: 10rem;
}
// .menuItem-des{
//   display: none;
// }
.menu-item{
  // margin-left: -36px;
  // padding: 1rem;
}
.menuItem-details {
  margin-right: 0px;
}
.menuItem-price {
  padding-left: 7px;
}
}

@media screen and (max-width: 1000px) {
  .swiper-button-prev {
    left: 3rem;
}
  .swiper-button-next {
    right: 3rem;
}
  .section-description {
    padding: 0 8rem;
  }
  .about-imageContent {
    height: 400px;
  }
  .aboutImg-textBox {
    padding: 1.5rem 2rem;
  }
  .menu .menu-content {
    grid-template-columns:  1fr;
    justify-items: center;
  }
  .brand-images{
    grid-template-columns: repeat(3,1fr);
  }

}
.Latest{
  background-color: #9e9e9e !important;
}
.spice{
  img{
    width: 20px;
    margin: 3px;
  }
}

@media screen  and (max-width: 425px){
  .menu-img{
    // height: 80px;
    // width: 80px;
    // border-radius: 10px 0px 0px 10px;
    // margin-right: 4px !important;
    max-height: 100px;
  }
//   .menuItem-details {
//     width: 168px !important;
// }
}
.menu-item-list-wrapper{
  width:100%;
  .list-item-img{
    width:30%;
    padding:10px;
    float:left;
  }
  .list-item-description{
    width:70%;
    padding:10px;
    float:left;
  }
  .spices-price-wraper{
    display: flex;
    justify-content: space-between;
  }
}