.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-top: 80px;
    // margin-top: 174px;
    margin-top: 120px;
    padding-bottom: 100px;
    .imgWrapper{
        background: linear-gradient(to right, #eb6290 , #b766c5);
        width:350px;
        height:340px;
        border-radius: 35px;
        position: relative;
        margin:0 auto;
        display: inline-block;
        padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }
    .imageStyles{
        position: relative;
        // margin-top: -120px;
        width: 100%;
        text-align: center;
        z-index: 2;
    }
    img {
        width: 100%;
        height: 180px;
        // margin: 20px;
        object-fit: cover;
        // border: 1px solid red;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 14px;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 14px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 14px;
        
        
      

    }
    .buttonWrapper{
        width: 100%;
        display: flex;
        justify-content: center;
     
        button{
        background-color: #690091;
        color:#fff;
        margin-top:-22px;
        z-index: 1;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        padding: 6px 15px;
       
        }
    }
    .description{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            text-align: center;
            margin: 10px;
            color: #fafdfb;
            // width: 100%;
            height: 120px; /* Set the width of the container */
            // white-space: nowrap; /* Prevent text from wrapping to the next line */
            overflow: hidden; /* Hide any content that overflows the container */
            text-overflow: ellipsis;

        }
        h3{
            color: #fafdfb;
        }
        .firstH3{
            margin-top: 10px;
        }
    }
}
a{
    z-index: 1;
}