.buttonWrapperr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    // padding: 0px 16px ;
    padding-left: 502px;
    // float: right;
    button{

//     background-color: #690091;
//     color:#fff;
//     // margin-top:-22px;
//     z-index: 1;
//     // border-radius: 50%;
//     // -moz-border-radius: 50%;
//     // -webkit-border-radius: 50%;
//     // padding: 6px 15px;
//    &:hover{
//     background-color: #690091;
//     color:#fff;
//    }
    }
}
.backArrow{
   padding: 10px;
}
.minHeight{
    min-height: 90vh;
}
.btn-contained {
    
}