* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

// .signup-content {
//   margin: 26px 0 0;
//   background: #fff;
//   height: calc(100vh - 150px);
//   overflow: hidden;
//   overflow-y: scroll;
// }
// html {
//   // overflow-y: hidden;
// }
// MuiPaper-root
//   MuiPaper-elevation
//   MuiPaper-rounded
//   MuiPaper-elevation1
//   css-1cf86vr {
//   height: calc(100vh - 150px);
//   overflow: hidden;
//   overflow-y: scroll;
// }
